<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toshinari's Portfolio</title>
</head>

<body>
  <div class="wrapper">
    <div class="start">
      <p><img src="assets/TOSHINARI PO3.png" alt=""></p>
    </div>
    <div class=header>
      <h3 class="header-title">Toshinari's Portfolio</h3>
    </div>

    <div class="main">
      <div class="main-img">
        <div class="main-photo"><img src="assets/IMG_5018.png" alt="" width="260" height="280" class="main-photo">
        </div>
        <div class="text">Name:Toshinari Ishii <br>Age:25 <br>Bath:1994.7.15</div>



      </div>
    </div>

    <div class="main-bar">
      <ul>
        <li class="btn"><a href="https://twitter.com/TOSHINARI_1994">Twitter</a></li>
        <li class="btn"><a href="https://github.com/toshinari-ishii">Github</a></li>
        <li class="btn"><a href="https://www.mixcloud.com/DJ__DREAM/">MixCloud</a></li>
        <li class="btn"><a href="https://soundcloud.com/peo9ruezcl0d">SoundCloud</a></li>
      </ul>
    </div>
    <div class="main-img">
      <div class="slide-wrapper">
        <div class="slide-wrapper-img">
          <div class="slide-title">Sounds Jaket</div>
          <ul class="slides">
            <li class="slide active"><img src="assets/E Komo Mai pic.png" width="600" height="350"></li>
            <li class="slide"><img src="assets/IMG_9220.png" width="600" height="350"></li>
            <li class="slide"><img src="assets/SOS REMIX Jaket1.png" width="1000" height="350"></li>
            <li class="slide"><img src="assets/5_Fotor.png" width="1000" height="350"></li>
            <li class="slide"><img src="assets/IMG_1219.png" width="1000" height="350"></li>
            <li class="slide"><img src="assets/IMG_2282.png" width="1000" height="350"></li>
          </ul>
          <div class="index-btn-wrapper">
            <div class="index-btn"></div>
            <div class="index-btn"></div>
            <div class="index-btn"></div>
            <div class="index-btn"></div>
            <div class="index-btn"></div>
            <div class="index-btn"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="myapp">
      <div class="myapp-image">
        <div class="myapp-header"><a href="http://3.115.200.86/">TECH::EXPERT <br>
            Team Development</a></div>
        <div class="myapp-gif"><img src="assets/7278ad71c6f2105a9c591efe1daa1ff9.gif" alt="" class="myapp-gif"></div>
        <div class="myapp-textbox">
          <div class="myapp-box">
            <div class="myapp-text">
              <ul>
                <li>-開発手法- <br> アジャイル開発</li>
                <li>-使用言語- <br> Rails,Ruby,Haml.Scss,Javascript,SQL</li>
                <li>-環境構築- <br> AWS</li>
                <li>データベース　<br> MySQL</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>

    </script>
    <script src="js/tops.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
</body>

</html>
