.slide-wrapper {
  text-align: center;
  width: 1300px;
  /* margin-left: 140px; */
  color: #5e6f84;
  padding: 20px 0;
  border-bottom:  black dotted;

}

.slide-title {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.change-btn-wrapper {
  width:px;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
}

.next-btn {
  cursor: pointer;
  float: right;
}


.slides {
  padding: 0;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: 340px;
  height: 300px;
  border-radius: 5px;
}

.myapp{
  width: 340px;
  height: 300px;
  border-radius: 5px;
  margin-left: 500px;
  margin-bottom: 300px;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: gray;
  background-color: #10232c;
  width: 20px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color:black;
  background-color: white;
}
