*{
  margin:0;
  padding:0;
  }

  // .start {
  //   background: white;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   z-index: 9000;
  //   float: left;
  // }
  // .start p {
  //   position: fixed;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   display: none;
  //   z-index: 9999;
  //   height: 100%;
  //   width: 100%;
  //   float: left;
  //   text-align: center;
  // }

.header{
  height: 90px;
  width: 100vw;
  padding-top: 10px;
    background-size: cover;
    opacity: 0.8;

}

.header h3{
  font-size: 70px;
  text-align: center;
  font-family: 'SignPainter';
  font-size: 70px;
  padding-top: 10px;
  color:black;
  font-weight: 10px;
  // margin-right:30px;

}

.main{
  height:450px;
  width: 100%;
  background-image:url("https://art11111.com/image/wallpaper/HD/42.jpg");
}
.main-img{
  height: 100%;
  background: rgba(255,255,255,0.5);
}
.main-photo{
  border-radius: 20% 100px 0% 50%;
  padding-top:20px;
  padding-left: 260px;
  box-shadow: 10px 10px 10px 10px rgba(175, 185, 224, 0.4);  
  opacity: 0.9;
}
.text{
  width: 300px;
  height: 100px;
  background-color: grey;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 500px;
  // height: 100%;
  background: rgba(255,255,255,0.5);
  font-family: serif;
  color: rgb(14, 38, 114);
}





.main-bar{
  height: 80px;
  width: 100vw;
  background-size: cover;
  opacity: 0.7;
  border-bottom: black dotted  ;
}
.main-bar ul{
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 40px;
  font-family: 'SignPainter';
  // cursor: pointer;  
  :hover{
    color: mediumturquoise;
    // cursor: pointer;
	  transform: translateY(7px);
  }
}

ul a{
  text-decoration: none;
  color: black;
  
}






